<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="toolDebug" type="System.Configuration.NameValueSectionHandler" />
    <section name="toolEmail" type="System.Configuration.NameValueSectionHandler" />
    <section name="toolLog" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <!--DebugHelper配置-->
  <toolDebug>
    <!--是否输出调试信息-->
    <add key="IsDebug" value="true" />
    <!--调试文件路径及文件前缀：绝对地址"D:\Logs\"或应用程序下目录"Logs/",留空为应用程序根目录下"Logs/Debug/",自动后跟yyyyMMdd.txt为路径，可为"Logs/Debug_，目录不存在则自动创建"-->
    <add key="DebugPath" value="" />
    <!--调试信息内容格式：@Now-日期;@CodeLocal-出错位置;@Message-消息内容-->
    <add key="DebugMessage" value="【@Now】【@CodeLocal】@Message" />
  </toolDebug>
  <!--EmailHelper配置-->
  <toolEmail>
    <!--邮件发件人名称-->
    <add key="EmailName" value="文昌" />
    <!--邮件smtp服务器地址-->
    <add key="EmailSmtp" value="smtp.126.com" />
    <!--邮件地址-->
    <add key="EmailAddress" value="mkwuji@126.com" />
    <!--邮件密码-->
    <add key="EmailPassword" value="mtTools2017" />
  </toolEmail>
  <!--LogHelper配置-->
  <toolLog>
    <!--日志记录路径：绝对地址"D:\Logs\"或应用程序下目录"Logs/",留空为应用程序根目录下"Logs/"，目录不存在则自动创建-->
    <add key="LogPath" value="" />
    <!--日志内容格式：@Now-日期;@Message-消息内容-->
    <add key="LogMessage" value="【@Now】@Message" />
  </toolLog>
</configuration>